{{ define "Unavailable" }}
  {{ template "Header" }}
      <p>Sorry, but the ticket has become unavilable!</p>
      <br /><br />See <a href="/">list of all guests</a>
  {{ template "Footer" }}
{{ end }}